*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    max-width: 800px;
    margin: 50px auto;

    }


.main-flex{
    margin: auto;
    list-style-type: none;
    display: flex;
    border: 1px solid #0E1116;
    background-color: #38b0e7;
    flex-direction: row;
    justify-content: space-between;

    
}
.li-flex{
    padding: 0px 8px;
    background-color: #38b0e7;
}
.a-flex{
    text-decoration: none;
    padding: 20px 5px;
    display: block;
    text-align: center;
}
.li-flex:hover{
    background-color: white;
}

