*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
.first-letter{
    text-transform: capitalize;
}
/*header*/
.header{
    padding: 10px 0 70px 0;
    height: 670px;
    background-image: url("../img/P1.png");
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
.nav-top{
    height: 50px;
    width: 950px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    display: block;
    height: 50px;
}
.logo > img{
    width: 140px;
    height: 50px;
}
.header-nav{
    width: 526px;
    display: flex;
    justify-content: space-around;
}
.header-nav  a{
    text-transform: uppercase;
    display: inline-block;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 11px;
    font-weight: bold;
}
.header-nav a:hover{
    color: #2d6076;
}
.header-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 780px;
    height: 250px;
    text-align: center;
}
.header-main > h1 {
    color: white;
    margin-bottom: -15px;
}
.header-main > p{
    color: white;
}
.learn-more{
    border-color: #00e0d0;
    width: 120px;
    height: 40px;
    text-transform: uppercase;
    background: none;
    color: #00e0d0;
}

