*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
.first-letter{
    text-transform: capitalize;
}
/*header*/
.header{
    padding: 10px 0 70px 0;
    /*height: 670px;*/
    background-image: url("../img/P1.png");
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
.nav-top{
    height: 50px;
    width: 950px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:  30px 0 135px 0;
}
.logo{
    display: block;
    height: 50px;
}
.logo > img{
    width: 140px;
    height: 50px;
}
.header-nav{
    width: 526px;
    display: flex;
    justify-content: space-around;
}
.header-nav  a{
    text-transform: uppercase;
    display: inline-block;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 11px;
    font-weight: bold;
}
.header-nav a:hover{
    color: #2d6076;
}
.header-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 780px;
    height: 250px;
    text-align: center;
}
.header-main > h1 {
    color: white;
    margin-bottom: -15px;
}
.header-main > p{
    color: white;
}
.learn-more{
    border-color: #00e0d0;
    border-width: 1px;
    width: 120px;
    height: 40px;
    text-transform: uppercase;
    background: none;
    color: #00e0d0;
}
.dott{
    padding: 165px 0 0 0;
}
/*Block2*/
.block2{
    padding: 70px 0;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.block2-text > h2{
    text-transform: uppercase;
}
.block2-text > p{
    color: #b9b8bc;
}

.block2-wrapper{
    width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.block2-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 260px;
    width: 548px;
}
/*Block3*/
.block3{
    background-image: url("../img/P2.png");
    padding: 205px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.block3 > h4{
    text-transform: uppercase;
    color: white;
    margin: 20px 0 0 0;
}
/*Block4*/
.block4{
    background-color: white;
    padding: 60px 0 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.block4-4{
   margin: 0 0 25px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.block4-4 > h4{
    text-transform: uppercase;
    color: #413d4b;
    font-family: sans-serif;
}
.block4-4 > p{
    color: #bebebf;

}
.block4-main{
    width: 940px;
    display: flex;
    flex-direction: row;
}
.block4-ul{
    display: flex;
    /*flex-direction: row;*/
    flex-wrap: wrap;
}
.block4-ul > li{
    width: 300px;
    height: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-around;
}
.block4-ul h5{
    text-transform: uppercase;
}
.block4-ul p{
    font-size: 12px;
    color: #c8c8c8;
}
.block4-ul > li:nth-child(-n+3){
    border-bottom: 1px solid #ebebeb;
}
.block4-ul > li:nth-child(2){
    border-right: 1px solid #ebebeb;
    border-left: 1px solid #ebebeb;
}
.block4-ul > li:nth-child(5){
    border-right: 1px solid #ebebeb;
    border-left: 1px solid #ebebeb;
}
/*Block5*/
.block5{
    background-image: url("../img/P3.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 85px 0 85px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.block5-head{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 80px;

}
.block5-head > h4{
    text-transform: uppercase;
    color: #ebebee;
}
.block5-head > p{
    color: #e6e5e8;
}
.block5-main{
    width: 940px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.block5-main-foto{
    width: 220px;
    height: 308px;
    border: 1px solid #7c7890;
    text-align: center;
    line-height: 30px;
}
.block5-main-foto > h4{
    color: #e6e5e8;
    text-transform: uppercase;
}
.block5-main-foto > p {
    color: #ebebee;
    text-transform: uppercase;
    font-size: 11px;
}
.block5-foot{
    color: #ebebee;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 85px;
}
.block5-foot > p{
    font-size: 12px;
}
/*Block6*/
.block6{

    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 54px 0;
}
.block6-left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 940px;
}
.block6-left > h2{
    text-transform: uppercase;
    color: #66636d;
}
.block6-right{
    display: flex;
     width: 200px;
    justify-content: space-around;
}
.block6-text{
    text-transform: capitalize;
}
.block6-ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.block6-ul > li{
    width: 223px;
    height: 200px;
}
.block6-li-1{
    background-color: #b6b6b6;
}
.block6-li-2{
    background-color: #acacac;

}
.block6-li-3{
    background-color: #a1a1a1;
}
.block6-li-4{
    background-color: #8a8a8a;
}
.li-8{
    order: 1;
}
.li-10{
    order: 2;
}
.li-11{
    order: 2;
}
.li-12{
    order: 2;
}
/*Block7*/
.block7{
    background-image: url("../img/P3.png");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 90px 0;
}
.block7-top > p{
    color: #ebebee;
}
.block7 h4{
    color: #ebebee;
    text-transform: uppercase;
}
.block7-top{
    width: 770px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}
.block7-bot{
    width: 770px;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.block7-p{
    text-transform: uppercase;
    color: #b6b4bd;
    font-size: 11px;
    margin-top: -50px;
}
.block7-img{
    width: 380px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*block8*/
.block8{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 88px 0;
}
.block8-left{
    display: flex;
    flex-direction: column;
    width: 450px;
}
.block8-left > h3{
    text-transform: uppercase;
}
.display8-form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 450px;
}
.block8-left input{
    height: 35px;
}
.block8-right{
    height: 473px;
    width: 400px;
    margin: 0 0 0 35px;

}
.block8-right > h3{
    text-transform: uppercase;
}
.block8-right > ul{
    display: flex;
    flex-wrap: wrap;
    height: 430px;
    align-items: center;

}
.block8-logo-footer {
    flex-grow: 1;
    flex-basis: 50%;
}
.block8-logo-footer >a{
    display: block;

}
.bg-Zara_Logo_svg{
    width: 162px; height: 22px;
    background: url('../img/sprites/css_sprites.png') -10px -237px;
}
.bg-Logo_of_Mango__new__svg{
    width: 138px; height: 22px;
    background: url('../img/sprites/css_sprites.png') -293px -54px;
}
.bg-1280px_Barneys_New_York_Logo_svg{
    width: 154px; height: 41px;
    background: url('../img/sprites/css_sprites.png') -10px -100px;
}
.bg-1280px_Gucci_Logo_svg{
    width: 140px; height: 21px;
    background: url('../img/sprites/css_sprites.png') -293px -96px;
}
.bg-Calvin_klein_logo_svg{
    width: 151px; height: 24px;
    background: url('../img/sprites/css_sprites.png') -293px -10px;
}
.bg-1280px_Logo_NIKE_svg{
    width: 95px; height: 34px;
    background: url('../img/sprites/css_sprites.png') -293px -137px;
}
.bg-Converse_logo_svg{
    width: 113px; height: 69px;
    background: url('../img/sprites/css_sprites.png') -160px -10px;
}
.bg-Puma_Logo_svg{
    width: 114px; height: 56px;
    background: url('../img/sprites/css_sprites.png') -10px -161px;
}
.bg-1280px_Levis_logo_svg{
width: 109px; height: 53px;
background: url('../img/sprites/css_sprites.png') -144px -161px;
}
.bg-Billabong_svg{
    width: 130px; height: 70px;
    background: url('../img/sprites/css_sprites.png') -10px -10px;
}
/*block9*/
.block9{
    background-image: url("../img/P4.png");
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 65px 0;
}
.block9-main{
    width: 940px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}
.block9-left{
    width: 285px;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
}
.block9-left > p{
    color: #ebeaed;
    line-height: 20px;
}
.block9-left > a{
    display: block;
}
.block9-center > h4{
    text-transform: uppercase;
    color: #ffffff;
}
.block9-center{
    width: 270px;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.block9-right{
    width: 290px;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.block9-address{
    display: block;

}
.block9-address{
     position: relative;
    color: #ebeaed;
}
.block9-address:before{
    content: "";
    background-image: url("../img/marker.png");
    display: block;
    width: 14px;
    height: 19px;
    position: absolute;
    left: -20px;
}
.block9-phone{
    position: relative;
    color: #ebeaed;
}
.block9-phone:before{
    content: "";
    background-image: url("../img/phone.png");
    display: block;
    width: 17px;
    height: 17px;
    position: absolute;
    left: -20px;
}
.block9-right > h4{
    color: #ebeaed;
    text-transform: uppercase;
}
.block9-input{
    background: none;
    width: 210px;
    height: 35px;
    position: relative;
}

.social{
    display: flex;
    justify-content: space-around;
}
.social > i{
    width: 35px;
    height: 35px;
    text-align: center;
    border: 1px solid white;
    border-radius: 50%;
    font-size: 20px;
    line-height: 35px;
    color: white;

}
.block9-right-input{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.paper{
    padding: 6.5px 17px;
    font-size: 20px;
    background-color: #a29bb4;

}



