*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
.first-letter{
    text-transform: capitalize;
}
/*header*/
.header{
    padding: 10px 0 70px 0;
    height: 670px;
    background-image: url("../img/P1.png");
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
.nav-top{
    height: 50px;
    width: 950px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    display: block;
    height: 50px;
}
.logo > img{
    width: 140px;
    height: 50px;
}
.header-nav{
    width: 526px;
    display: flex;
    justify-content: space-around;
}
.header-nav  a{
    text-transform: uppercase;
    display: inline-block;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 11px;
    font-weight: bold;
}
.header-nav a:hover{
    color: #2d6076;
}
.header-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 780px;
    height: 250px;
    text-align: center;
}
.header-main > h1 {
    color: white;
    margin-bottom: -15px;
}
.header-main > p{
    color: white;
}
.learn-more{
    border-color: #00e0d0;
    border-width: 1px;
    width: 120px;
    height: 40px;
    text-transform: uppercase;
    background: none;
    color: #00e0d0;
}
/*Block2*/
.block2{
    height: 400px;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.block2-text > h2{
    text-transform: uppercase;
}
.block2-text > p{
    color: #b9b8bc;
}

.block2-wrapper{
    width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.block2-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 260px;
    width: 548px;
}
/*Block3*/
.block3{
    background-image: url("../img/P2.png");
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.block3 > h4{
    text-transform: uppercase;
    color: white;
    margin: 20px 0 0 0;
}
/*Block4*/
.block4{
    background-color: white;
    height: 600px;
    padding: 35px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.block4-4{
   margin: 0 0 25px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.block4-4 > h4{
    text-transform: uppercase;
    color: #413d4b;
    font-family: sans-serif;
}
.block4-4 > p{
    color: #bebebf;

}
.block4-main{
    width: 940px;
    display: flex;
    flex-direction: row;
}
.block4-ul{
    display: flex;
    /*flex-direction: row;*/
    flex-wrap: wrap;
}
.block4-ul > li{
    width: 300px;
    height: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-around;
}
.block4-ul h5{
    text-transform: uppercase;
}
.block4-ul p{
    font-size: 12px;
    color: #c8c8c8;
}
.block4-ul > li:nth-child(-n+3){
    border-bottom: 1px solid #ebebeb;
}
.block4-ul > li:nth-child(2){
    border-right: 1px solid #ebebeb;
    border-left: 1px solid #ebebeb;
}
.block4-ul > li:nth-child(5){
    border-right: 1px solid #ebebeb;
    border-left: 1px solid #ebebeb;
}
/*Block5*/
.block5{
    background-image: url("../img/P3.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 712px;
    padding: 35px 0 35px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.block5-head{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 80px;

}
.block5-head > h4{
    text-transform: uppercase;
    color: #ebebee;
}
.block5-head > p{
    color: #e6e5e8;
}
.block5-main{
    width: 940px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.block5-main-foto{
    width: 220px;
    height: 308px;
    border: 1px solid #7c7890;
    text-align: center;
    line-height: 30px;
}
.block5-main-foto > h4{
    color: #e6e5e8;
    text-transform: uppercase;
}
.block5-main-foto > p {
    color: #ebebee;
    text-transform: uppercase;
    font-size: 11px;
}
.block5-foot{
    color: #ebebee;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 85px;
}
.block5-foot > p{
    font-size: 12px;
}
/*Block6*/
.block6{
    height: 660px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding-top: 25px;
}
.block6-left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 940px;
}
.block6-left > h2{
    text-transform: uppercase;
    color: #66636d;
}
.block6-right{
    display: flex;
     width: 200px;
    justify-content: space-around;
}
.block6-text{
    text-transform: capitalize;
}
.block6-ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.block6-ul > li{
    width: 223px;
    height: 200px;
}
.block6-li-1{
    background-color: #b6b6b6;
}
.block6-li-2{
    background-color: #acacac;

}
.block6-li-3{
    background-color: #a1a1a1;
}
.block6-li-4{
    background-color: #8a8a8a;
}
.li-8{
    order: 1;
}
.li-10{
    order: 2;
}
.li-11{
    order: 2;
}
.li-12{
    order: 2;
}
/*Block7*/
.block7{
    height: 500px;
    background-image: url("../img/P3.png");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.block7 > p{
    color: #ebebee;
}
.block7 h4{
    color: #ebebee;
    text-transform: uppercase;
}
.block7-top{
    width: 770px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}
.block7-bot{
    width: 770px;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.block7-p{
    text-transform: uppercase;
    color: #b6b4bd;
    font-size: 11px;
    margin-top: -50px;
}
.block7-img{
    width: 380px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


