* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}
:root{
    --white: #ffffff;
}
.text-up{
    text-transform: uppercase;
}
/**/
.wrapper{
    min-height: 900px;
    /*width: 100%;*/
    background-color: #44555b;
    padding: 20px;
}
.header{
    display: flex;
    height: 80px;
    background-color: white;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}
.test{
    width: 320px;
    display: flex;
    justify-content: space-between;
}
.header-ul{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    width: 200px;
    align-items: center;
}
.logo-li{
    align-items: center;
    text-transform: uppercase;
    color: #82868f;
}
.logo-a{
    display: block;
}
.header-sign{
    width: 110px;
    height: 40px;
    background-color: #0ebfdd;
    border-radius: 40px;
    border-color: transparent;
    text-decoration: none;
    color: white;
}
.flx{
    display: flex;
    flex-direction: column;

}
/*1 часть*/
.main-1{
    background-image: url("../img/walls.jpg");
    background-size: cover;
    height: 500px;
    text-transform: capitalize;
    align-items: center;
    justify-content: flex-end;
    padding: 0 0 60px 0;
}

.main1-h2{
    color: var(--white);
    margin: 0 0 30px 0;

}
.main1-h2:before{
     content: "\2605";
     font-size: 15px;
     vertical-align: middle;
     margin: 0 10px 0;
 }
.main1-h2:after{
    content: "\2605";
    font-size: 15px;
    vertical-align: middle;
    margin: 0 10px 0;
}
.main1-p{
    width: 804px;
    color: var(--white);
}
/*2 часть*/
.main2{
    background-color: var(--white);
    height: 250px;
    justify-content: center;
    align-items: center;
    padding: 0 0 30px 0;

}
.main2-h2{
    color: #0ebfdd;
    text-transform: capitalize;
    margin: 0 0 20px 0;
    font-size: 30px;
}
.main2-p{
    width: 804px;
    text-align: center;
}
/*3 часть*/
.main3{
    height: 600px;
    background-color: #0ebfdd;
    justify-content: center;
    align-items: center;
}
.main3-h3{
    text-transform: capitalize;
    color: var(--white);
    font-size: 30px;
}
.main3-picture{
    margin: 120px 0;
    /**/
    display: flex;
}
.main3-p{
    text-align: center;
    color: var(--white);
    text-transform: capitalize;
}
.main-picture{
    border-radius: 50%;
    margin: 0 30px;
}
.main3-work{
     width: 150px;
     height: 30px;
     background-color: #0ebfdd;
     border-radius: 40px;
     border-color: var(--white);
     color: var(--white);
}
/*часть4*/
.main4{
    background-image: url("../img/Map.png");
    height: 600px;
    background-size: cover;
}
/*часть5*/
.footer{
    background-color: #45494d;
    height: 120px;
    display: flex;
    justify-content: center;
    /*align-items: center;*/

}
.footer-contain{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer-top{

    display: flex;
    width: 940px;
    justify-content: space-between;
    align-items: center;
}
.footer-ul{
    width: 224px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.footer-li{
    color: #d7dee4;
    text-transform: uppercase;
    font-size: 12px;
}
.footer-bot{
    border-top: 1px solid #73767a;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    padding-top: 10px;
}
.footer-bot-ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 396px;
}
.li{
    border-right: 2px solid #5a5e62;
    padding-right: 20px;
}

.footer-bot-li{
    font-size: 12px;
    color: #73767a;
}
.footer-a{
    border-radius: 100%;
    border: 1px solid #73767a;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
}



