*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#wrapper{
    background-image: url("../img/1X.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    padding: 20px 0 0;
}
header{
    height: 45px;
    width: 1000px;
    background-color: #ededed;
    margin: 0 auto;
}
.logo{
    display: inline-block;
    /*width: 150px;*/
}
.logo-img{
    width: 200px;
    display: block;
    line-height: 45px;
}
.nav-top{
    display: inline-block;
    margin-left: 275px;
    /*width: 500px;*/
}
.nav-top-li{
    display: inline-block;
    width: 80px;
}
ul{
    display: block;
}